{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

  
  <!-- Breadcrumbs -->
  
  <div class="breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <ul>
            <li class="home"> <a title="Go to Home Page" href="/">Home</a> <span>/</span></li>
            <li> <strong>About Us</strong> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
   <!-- Map Section Begin -->
 <!-- <div class="map spad">
  <div class="container">
      <div class="map-inner">
          <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d950654.0422130789!2d38.65061468748322!3d21.44918971186382!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d01fb1137e59%3A0xe059579737b118db!2sJeddah%20Saudi%20Arabia!5e0!3m2!1sen!2seg!4v1588260288642!5m2!1sen!2seg"
              height="610" style="border:0" allowfullscreen="">
          </iframe>
          <div class="icon">
              <i class="fa fa-map-marker"></i>
          </div>
      </div>
  </div>
</div> -->
<!-- Map Section Begin -->

<!-- Start About Us -->
<!-- <div id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 about">
        <h2>SunMas Ecommerce</h2>
        <p>SunMas  Ecommerce is a leader in the Online luxury discount watch industry
          offering the finest timepieces from around the world at exceptional prices.
          With over 20 years of watch knowledge and expertise, serving millions of customers
          worldwode, the Client Service Specialists at SunMas understand the importance
          of the decision-making process and are available to assist you in selecting the perfect
          timepiece for any occasion.We strive to provide our clients with a luxurt experience and exceptional value.</p>
      </div>

      <div class="col-md-6 about-logo">
        <img src="images/img/logo.png">
      </div>
    </div>
  </div>
</div> -->
<!-- Contact Section Begin -->
<section class="contact-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="contact-title">
                  <h4>Contacts Us</h4>
                  <p>There are many ways to contact us. You may drop us a line,
                     give us a call or send an email, choose what suits you the most.</p>
              </div>
              <div class="contact-widget">
                  <div class="cw-item">
                      <div class="ci-icon">
                          <i class="ti-location-pin"></i>
                      </div>
                      <div class="ci-text">
                          <span>Address:</span>
                          <p>Company Sun Mas,
                            Jeddah-Saudi Arabia</p>
                      </div>
                  </div>
                  <div class="cw-item">
                      <div class="ci-icon">
                          <i class="ti-mobile"></i>
                      </div>
                      <div class="ci-text">
                          <span>Whatsapp:</span>
                          <p>+966500057975</p>
                      </div>
                  </div>
                  <div class="cw-item">
                      <div class="ci-icon">
                          <i class="ti-email"></i>
                      </div>
                      <div class="ci-text">
                          <span>Email:</span>
                          <p>Sunmascompany@gmail.com</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 offset-lg-1">
              <div class="contact-form">
                  <div class="leave-comment">
                      <h4>Leave A Comment</h4>
                      <p>Our staff will call back later and answer your questions.</p>
                      <form action="#" class="comment-form">
                          <div class="row">
                              <div class="col-lg-6">
                                  <input type="text" placeholder="Your name">
                              </div>
                              <div class="col-lg-6">
                                  <input type="text" placeholder="Your email">
                              </div>
                              <div class="col-lg-12">
                                  <textarea placeholder="Your message"></textarea>
                                  <!-- <button type="submit" class="site-btn">Send message</button> -->
                                  <button type="submit" class="site-btn"><a href="mailto:Sunmascompany@gmail.com" class="site-btn">Send message</a></button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- Contact Section End -->


{% endblock %}