{% extends 'base.html' %}
{% load static  %}
{% load i18n %}
{% block content %}
<body class="product-page">
<div id="page">

	<!-- Breadcrumbs -->
	<div class="breadcrumbs">
	  <div class="container">
		<div class="row">
		  <div class="col-xs-12">
			<ul>
			  <li><a href="/" title="Go to Home Page">Home</a><span>/</span></li>
              <li><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
	<!-- Breadcrumbs End -->

  <!-- Main Container -->
  <section class="main-container col1-layout">
    <div class="container">
      <div class="row">
        <div class="product-view">
          <div class="product-essential">
            {% if messages %}
              {% for message in messages %}
              <p class="alert alert-success text-center  {{ messag.tage }} messages"><i class="fa fa-check-circle"></i> {{ message }}</p>
              {% endfor %}
            {% endif %}
             <form action='{% url "wishlist:list_update" %}' method="POST">
                {% csrf_token %}
                <input type='hidden' name='product_id' value='{{ product.id }}' />
              <input type='hidden' name='product_slug' value='{{ product.slug }}' />
              <input type='hidden' name='product_name' value='{{ product.name }}' />
                <span class='submit-span'>
              {% if product in wishlist.products.all %}
                  <button type='submit' class='btn btn-link'>Remove <i class="fa fa-heart ml-1"></i></button>
              {% else %}
                  <button class="btun-wishlist" type="submit"><i class="fa fa-heart ml-1"></i> Add to wishlist</button>
              {% endif %}
              </span>
              </form>
            <form action="{% url 'cart:cart_add' product.id %}" method="post" id="product_addtocart_form">
              <div class="product-img-box col-lg-4 col-sm-5 col-xs-12">
                <div class="product-image">
                  <div class="product-full">
                    <div class="new-label new-top-left"> New </div>
                    <img id="product-zoom" src="{{ product.Image.url }}" data-zoom-image="{{ product.Image.url }}" alt="product-image"/> </div>
                    <div class="more-views">
                    <div class="slider-items-products">
                      <div id="jtv-more-views-img" class="product-flexslider hidden-buttons product-img-thumb">
                        <div class="slider-items slider-width-col4 block-content">
                           {% get_current_language as LANGUAGE_CODE %}
                        {% for item in product.productimages.all %}
                          <div class="more-views-items"> <a href="{{ item.image.url }}" data-image="{{ item.image.url }}" data-zoom-image="{{ item.image.url }}"> <img id="product-zoom"  src="{{ item.image.url }}" alt="product-image"/> </a></div>
                         {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end: more-images -->
              </div>
              <div class="product-shop col-lg-8 col-sm-7 col-xs-12">

                <div class="product-name">
                  <h1>{% if LANGUAGE_CODE == 'ar' %}{{ product.name_ar }}
                      {% elif  LANGUAGE_CODE == 'fi' %}{{ product.name_fi }}
                      {% elif LANGUAGE_CODE == 'ur' %} {{ product.name_ur }}
                      {% else %}{{ product.name }} {% endif %}
                  </h1>
                </div>
                <div class="rating"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> </div>
                <div class="price-block">
                  <div class="price-box">
                    <p class="special-price"> <span class="price-label">Special Price</span><span class="price">{% if LANGUAGE_CODE == 'ar' %}{{ product.currency_ar }} {% else %}{{ product.currency }} {% endif %}{{ product.price }} </span></p>
                    <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{% if LANGUAGE_CODE == 'ar' %}{{ product.currency_ar }} {% else %}{{ product.currency }}{% endif %} {{ product.old_price }} </span> </p>
                    <p class="availability in-stock"><span>In Stock</span></p>
                  </div>
                </div>
                <div class="short-description">
<!--                  <h2>Product information</h2>-->
<!--                  <p>{{ product.description|safe|linebreaksbr }}</p>-->
                </div><br><br>
                <div class="add-to-box">
                  <div class="add-to-cart">
                    <div class="pull-left">
                      <div class="custom pull-left">
                         {% csrf_token %}
                        {{ cart_product_form }}
                      </div>
                    </div>
                    <button class="button btn-cart" title="Add to Cart" type="submit"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                  </div>

                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="product-collateral col-lg-12 col-sm-12 col-xs-12">
          <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
            <li class="active"> <a href="#product_tabs_description" data-toggle="tab"> Product Description </a></li>
          </ul>
          <div id="productTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="product_tabs_description">
              <div class="std">
                <p>{{ product.description|safe|linebreaksbr }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Main Container End -->

  <!-- Related Products Slider -->

  <div class="container">
    <div class="jtv-related-products">
      <div class="slider-items-products">
        <div class="jtv-new-title">
          <h2>{% trans 'Related Products' %}</h2>
        </div>
        <div class="related-block">
          <div id="jtv-related-products-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid">
              {% get_current_language as LANGUAGE_CODE %}
              {% for rel in related_pro %}
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><a class="product-image" title="Product tilte is here" href="{{ rel.get_absolute_url }}"> <img alt="Product tilte is here" src="{{rel.Image.url}}"> </a>
                      <div class="new-label new-top-left">new</div>
                      <div class="sale-label sale-top-right">sale</div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Product tilte is here" href="{{ rel.get_absolute_url }}">{% if LANGUAGE_CODE == 'ar' %}{{ rel.name_ar }} {% else %} {{rel.name}} {% endif %} </a> </div>
                      <div class="item-content">
                        <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">{% if LANGUAGE_CODE == 'ar' %}{{ rel.currency_ar }} {% else %}{{ rel.currency }} {% endif %}{{ rel.price }}</span></span>
                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{% if LANGUAGE_CODE == 'ar' %}{{ rel.currency_ar }} {% else %}{{ rel.currency }}{% endif %} {{ rel.old_price }} </span> </p>
                            </div>
                        </div>
                         <div class="actions">
                            <div class="add_cart">
                              <button class="button btn-cart" type="button"><span><a href="{{ p.get_absolute_url }}"> Add to Cart</a></span></button>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Related Products Slider End -->

  <!-- Upsell Product Slider -->

  <div class="container">
    <div class="jtv-upsell-products">
      <div class="slider-items-products">
        <div class="jtv-new-title">
          <h2>{% trans 'Upsell Product' %}</h2>
        </div>
        <div class="upsell-block">
          <div id="jtv-upsell-products-slider" class="product-flexslider hidden-buttons">
            <div class="slider-items slider-width-col4 products-grid">
              {% get_current_language as LANGUAGE_CODE %}
              {% for ups in upsell_pro %}
              <div class="item">
                <div class="item-inner">
                  <div class="item-img">
                    <div class="item-img-info"><a class="product-image" title="Product tilte is here" href="{{ ups.get_absolute_url }}"> <img alt="Product tilte is here" src="{{ ups.Image.url }}"> </a>
                      <div class="new-label new-top-left">new</div>
                      <div class="sale-label sale-top-right">sale</div>
                    </div>
                  </div>
                  <div class="item-info">
                    <div class="info-inner">
                      <div class="item-title"> <a title="Product tilte is here" href="{{ ups.get_absolute_url }}">{% if LANGUAGE_CODE == 'ar' %}{{ ups.name_ar }} {% else %} {{ups.name}} {% endif %}</a> </div>
                      <div class="item-content">
                        <div class="item-price">
                            <div class="price-box"> <span class="regular-price"> <span class="price">{% if LANGUAGE_CODE == 'ar' %}{{ ups.currency_ar }} {% else %}{{ ups.currency }} {% endif %}{{ ups.price }}</span></span>
                                <p class="old-price"> <span class="price-label">Regular Price:</span> <span class="price">{% if LANGUAGE_CODE == 'ar' %}{{ ups.currency_ar }} {% else %}{{ ups.currency }}{% endif %} {{ ups.old_price }} </span> </p>
                            </div>
                        </div>
                          <div class="actions">
                            <div class="add_cart">
                              <button class="button btn-cart" type="button"><span><a href="{{ p.get_absolute_url }}"> Add to Cart</a></span></button>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Upsell  Slider -->
  </div>

</div>

</body>
{% endblock %}